<div class="comments">
  {{#each this}}
  <section class="comment">
    <div class="meta ms-2">
      <h5><b>Comments</b></h5>
    </div>
<div class="card mb-4">
  <div class="card-body">
    <p> {{user.first_name}} {{user.last_name}}</p>
    <p>{{comment_text}}</p>
   </div>
  </section>
  {{/each}}
</div>
